@page "/letsconnect"
@rendermode InteractiveServer

<PageTitle>Let's Connect'</PageTitle>

<div class="parent">
    <div class="card">
        <div class="logo">
            <span class="circle circle1"></span>
            <span class="circle circle2"></span>
            <span class="circle circle3"></span>
            <span class="circle circle4"></span>
            <span class="circle circle5">
                <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="svg">
                    <path d="M18,11.74a1,1,0,0,0-.52-.63L14.09,9.43,15,3.14a1,1,0,0,0-1.78-.75l-7,9a1,1,0,0,0-.18.87,1.05,1.05,0,0,0,.6.67l4.27,1.71L10,20.86a1,1,0,0,0,.63,1.07A.92.92,0,0,0,11,22a1,1,0,0,0,.83-.45l6-9A1,1,0,0,0,18,11.74Z" />
                </svg>
            </span>
        </div>

        <div class="glass"></div>
        <div class="content">
            <span class="title">Luke Padiachy</span>
            <span class="text">Software Developer |.NET | LearnToCode | Tech Enthusiast | Urban Uprise </span>
        </div>
        <div class="bottom">

            <div class="social-buttons-container">
                <button class="social-button .social-button1">
                    <a href="https://www.instagram.com/luke_padiachy">
                        <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" class="svg">
                            <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
                        </svg>
                    </a>
                </button>
                <button class="social-button social-button2">
                    <a href="https://www.linkedin.com/in/lukepadiachy/">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="svg">
                        <path d="M21,0H3C1.344,0,0,1.344,0,3v18c0,1.656,1.344,3,3,3h18c1.656,0,3-1.344,3-3V3C24,1.344,22.656,0,21,0z M7.875,19H5.25V9h2.625V19z M6.562,7.875c-0.875,0-1.562-0.688-1.562-1.531c0-0.844,0.688-1.531,1.562-1.531c0.844,0,1.531,0.688,1.531,1.531C8.094,7.188,7.406,7.875,6.562,7.875zM20.999,19h-2.625v-4.844c0-1.156-0.406-1.938-1.438-1.938c-0.781,0-1.25,0.531-1.469,1.063c-0.078,0.188-0.094,0.453-0.094,0.719V19h-2.625V9h2.469v1.094h0.031c0.344-0.656,1.188-1.344,2.438-1.344c2.625,0,3.112,1.719,3.112,3.938V19z"></path>
                    </svg>
                    </a>
                </button>
                <button class="social-button social-button3">
                    <a href="https://www.youtube.com/channel/UCHjmRXM592HvxrWBxLwFgSg?sub_confirmation=1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.43em" height="1em" viewBox="0 0 256 180">
                        <path  d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134" />
                        <path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z" />
                    </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>


<style scoped>
    .parent {
        width: 290px;
        height: 300px;
        perspective: 1000px;
    }

    .card {
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(135deg, rgb(115, 102, 255) 0%, rgb(155, 112, 255) 100%);
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
    }

    .glass {
        transform-style: preserve-3d;
        position: absolute;
        inset: 8px;
        border-radius: 55px;
        border-top-right-radius: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
        transform: translate3d(0px, 0px, 25px);
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        transition: all 0.5s ease-in-out;
    }

    .content {
        padding: 100px 60px 0px 30px;
        transform: translate3d(0, 0, 26px);
    }

        .content .title {
            display: block;
            color: #6e45e2;
            font-weight: 900;
            font-size: 20px;
        }

        .content .text {
            display: block;
            color: rgba(110, 69, 226, 0.7647058824);
            font-size: 15px;
            margin-top: 20px;
        }

    .bottom {
        padding: 10px 12px;
        transform-style: preserve-3d;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translate3d(0, 0, 26px);
    }


        .bottom .social-buttons-container {
            display: flex;
            gap: 10px;
            transform-style: preserve-3d;
        }

            .bottom .social-buttons-container .social-button {
                width: 30px;
                aspect-ratio: 1;
                padding: 5px;
                background: rgb(255, 255, 255);
                border-radius: 50%;
                border: none;
                display: grid;
                place-content: center;
                box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
            }

                .bottom .social-buttons-container .social-button:first-child {
                    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
                }

                .bottom .social-buttons-container .social-button:nth-child(2) {
                    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
                }

                .bottom .social-buttons-container .social-button:nth-child(3) {
                    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
                }

                .bottom .social-buttons-container .social-button .svg {
                    width: 15px;
                    fill: #6e45e2;
                }

                .bottom .social-buttons-container .social-button:hover {
                    background: black;
                }

                    .bottom .social-buttons-container .social-button:hover .svg {
                        fill: white;
                    }

                .bottom .social-buttons-container .social-button:active {
                    background: rgb(255, 234, 0);
                }

                    .bottom .social-buttons-container .social-button:active .svg {
                        fill: black;
                    }

    .logo {
        position: absolute;
        right: 0;
        top: 0;
        transform-style: preserve-3d;
    }

        .logo .circle {
            display: block;
            position: absolute;
            aspect-ratio: 1;
            border-radius: 50%;
            top: 0;
            right: 0;
            box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            background: rgba(110, 69, 226, 0.2);
            transition: all 0.5s ease-in-out;
        }

        .logo .circle1 {
            width: 170px;
            transform: translate3d(0, 0, 20px);
            top: 8px;
            right: 8px;
        }

        .logo .circle2 {
            width: 140px;
            transform: translate3d(0, 0, 40px);
            top: 10px;
            right: 10px;
            -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
            transition-delay: 0.4s;
        }

        .logo .circle3 {
            width: 110px;
            transform: translate3d(0, 0, 60px);
            top: 17px;
            right: 17px;
            transition-delay: 0.8s;
        }

        .logo .circle4 {
            width: 80px;
            transform: translate3d(0, 0, 80px);
            top: 23px;
            right: 23px;
            transition-delay: 1.2s;
        }

        .logo .circle5 {
            width: 50px;
            transform: translate3d(0, 0, 100px);
            top: 30px;
            right: 30px;
            display: grid;
            place-content: center;
            transition-delay: 1.6s;
        }

            .logo .circle5 .svg {
                width: 20px;
                fill: white;
            }

    .parent:hover .card {
        transform: rotate3d(1, 1, 0, 30deg);
        box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
    }

        .parent:hover .card .bottom .social-buttons-container .social-button {
            transform: translate3d(0, 0, 50px);
            box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
        }

        .parent:hover .card .logo .circle2 {
            transform: translate3d(0, 0, 60px);
        }

        .parent:hover .card .logo .circle3 {
            transform: translate3d(0, 0, 80px);
        }

        .parent:hover .card .logo .circle4 {
            transform: translate3d(0, 0, 100px);
        }

        .parent:hover .card .logo .circle5 {
            transform: translate3d(0, 0, 120px);
        }



</style>
